<%= form_with(model: user) do |form| %>
  <div class="modal-body">
    <% if user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group col-8">
      <%= form.label :name, class: 'control-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group col-8">
      <%= form.label :email, class: 'control-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group col-8">
      <%= form.label :city, class: 'control-label' %>
      <%= form.text_field :city, class: 'form-control' %>
    </div>
    <div class="form-group col-8">
      <%= form.label :state, class: 'control-label' %>
      <%= form.text_field :state, class: 'form-control' %>
    </div>
    <div class="form-group col-8">
      <%= form.label :country, class: 'control-label' %>
      <%= form.text_field :country, class: 'form-control' %>
    </div>
    <div class="form-group col-8">
      <%= form.label :contact_number, class: 'control-label' %>
      <%= form.text_field :contact_number, class: 'form-control' %>
    </div>
  </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit class: "btn btn-primary", data: { action: 'click-> bs-modal#submitEnd'} %>
      </div>
<% end %>
