<div id="<%= dom_id user %>">
  <td>
    <%= user.name %>
  </td>

  <td>
    <%= user.email %>
  </td>

  <td>
    <%= user.city %>
  </td>

  <td>
    <%= user.state %>
  </td>

  <td>
    <%= user.country %>
  </td>

  <td>
    <%= user.contact_number %>
  </td>

</div>
